<!DOCTYPE html>
<html>
    <head>
        {{>link}}
        </head>
    <body>
      {{>navbar}} 
      <div class="container-fluid mt-4 pt-2 justify-content-center">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
     <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card card0 border-0">
        <div class="row d-flex color1">
            <div class="col-lg-6">
                <lottie-player class="siz" src="https://assets10.lottiefiles.com/packages/lf20_vxtEG7.json"  background="transparent"  speed="1" loop  autoplay></lottie-player> 
            </div>
            <div class="col-lg-5">
                <div class="card2 px-4 py-5">
                   <h1>We're coming for</h1>
                   <h2>everything you </h2>
                   <h3>DREAM</h3>

                   <h1>How to take your goal and put that into action</h1>
                  </div>
            </div>
        </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card card0 border-0">
        <div class="row d-flex color">
            <div class="col-lg-6">
                <lottie-player class="siz" src="https://assets9.lottiefiles.com/packages/lf20_CeuefT.json"  background="transparent"  speed="1"    loop  autoplay></lottie-player> 
            </div>
            <div class="col-lg-6">
                <div class="card2 px-4 py-5">
                  <h1>Stop feeling lost and confused.</h1>
                  <h2>Know here how to create a dream life vision</h2>
                  <h1>Dont ignore your own potential.</h1>
              </div>
            </div>
        </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="card card0 border-0 ">
        <div class="row d-flex color1">
            <div class="col-lg-6">
                <lottie-player class="siz" src="https://assets7.lottiefiles.com/private_files/lf30_TBKozE.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player> 
            </div>
            <div class="col-lg-6">
                <div class="card2 px-4 py-5">
                   <h1>Discover your direction and unstuck</h1>
                   <h2>A goal properly set is a halfway reached</h2>
                   <h1>The best is yet to come ...</h1>
                 </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
</div>
<!---
<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_jt4mhmk1.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
         
         <Div>
             <h1>What's next?</h1>
<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_CeuefT.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>


         </Div> -->
         </body>
</html>