<!DOCTYPE html>
<html>
    <head>
        {{>link}}
         </head>
    <body>
        {{>navbar}}

       <!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
 <div class="container px-1 px-md-5 px-lg-3 px-xl-5 py-4 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_vwCDpL.json"  background="transparent"  speed="1"  style="width: 550px; height: 500px;"  loop  autoplay></lottie-player> 
            </div>
            <div class="col-lg-6 color1">
                <div class="card2 px-4 py-1">
                    {{#if post}}
<div class="alert alert-danger" role="alert">
  {{post}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
                    <div class="row px-4"> <h1>LOGIN</h1></div>
                    <form action="\login" method="POST">
                    <div class="row px-4"> <label class="mb-1">
                            <h2 class="mb-1">Email Address</h2>
                        </label> <input class="mb-4" type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter a valid email address" required> </div>
                    <div class="row px-4"> <label class="mb-1">
                            <h2 class="mb-1">Password</h2>
                        </label> <input type="password" name="password" placeholder="Enter password"  required> </div>
                    <br>
                    <div class="row mb-3 px-4"> <button type="submit" class="btn btn-blue text-center">Login</button> </div>
                    <div class="row mb-4 px-4"> <h4 class="font-weight-bold">Don't have an account? <a href="/register"class="text-danger ">Register</a></h4></div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

        
 </body>
</html>