<!DOCTYPE html>
<html>
    <head>
        {{>link}}
        <style>
            body {
  background:  #110f16;
}

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}
        </style>
        </head>
    <body>
        {{>header}}
        <div class="container d-flex justify-content-center">
    <div class="card mt-5 p-4"><form action='/secret' method="POST">
     subject <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" value="1" id="yesCheck"> course <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" value="2" id="noCheck"><br>
    
    <div id="ifYes" style="display:none">
        <input placeholder="subject name" id="searchSubject" name="subjectName" type="text">
    </div>
    
    <div id="ifNo" style="display:none">
        <input placeholder="course name" id="searchName" name="courseName" type="text" >
    </div>
    <div class="input-group-append"><button name="btt" class="btn btn-primary"><i class="fas fa-search"></i></button></div>

   

    </form>
    </div>
    </div>
  
    <div class="container-fluid">
  <div class="px-lg-5">
       <div class="row">
      {{#each post}}
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{this.imageurl}}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">{{this.title}}</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <a href="/secret/{{this.id}}" class="badge badge-info px-3 rounded-pill font-weight-normal">Visit</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    </div>
      </div>
      <script type="text/javascript">

function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.display = 'block';
         document.getElementById('ifNo').style.display = 'none';
    }
    else 
    {document.getElementById('ifYes').style.display = 'none';
     document.getElementById('ifNo').style.display = 'block';
    }

}
</script>
    <script>
        $(function(){
            $('#searchName').autocomplete({
                source: function(req,res){
                    $.ajax({
                        url:"autocomplete/",
                        dataType:"jsonp",
                        type:"GET",
                        data:req, 
                        success: function(data){
                           res(data);
                        },
                        error: function(err){
                            console.log(err.status);
                        }
                    });
                },
                minLength:1,
                select: function(event,ui){
                    if(ui.item){
                        $('#searchName').text(ui.item.label);
                    }
                }
            });
        });
        $(function(){
            $('#searchSubject').autocomplete({
                source: function(req,res){
                    $.ajax({
                        url:"autocomplete1/",
                        dataType:"jsonp",
                        type:"GET",
                        data:req, 
                        success: function(data){
                           res(data);
                        },
                        error: function(err){
                            console.log(err.status);
                        }
                    });
                },
                minLength:1,
                select: function(event,ui){
                    if(ui.item){
                        $('#searchSubject').text(ui.item.label);
                    }
                }
            });
        });
    </script>
   </body>
</html>