<header class="header">
  <div class='b1'>
  <img class="im ml-2" src="https://i.imgur.com/JAG6Vmx.png"></img>
  <h1 class="logo">CareerVision</h1></div>
    
      <ul class="main-nav">
          <li><a href="/secret">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>
	</header>